.bodyBackground {
    background: url('/images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .content {
        .contentTitle {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 4rem;
            letter-spacing: 10px;
            font-weight: 600;
        }

        .contentSubTitle {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 8px;
        }
    }
}